<nav class="navbar navbar-expand-lg navbar-light bg-light header">
  <a class="navbar-brand" href="#">
      <img src="assets/images/base/logo.png" width="150" alt="Desenho de uma tartaruga com um circulo verde ao redor e escrito Sports e life.">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse header__collapse" id="navbarNav">
    <ul class="navbar-nav header__nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Time</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portifólio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
    </ul>
  </div>
</nav>
