.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 1.5em 8em;

    &__collapse {
        flex-grow: 0;
    }

    &__nav {
        text-transform: uppercase;
        font-size: .9em;
        
        .nav-item {
            letter-spacing: .3em;
            margin: 0;
            
            &.active {
                .nav-link {
                    color: #8adbd5;
                }
            }

            .nav-link {
                color: #434343;
                padding: 0;

                &:before, &:after {
                    display: inline-block;
                    opacity: 0;
                    transition: transform .3s,opacity .2s;
                }

                &:before {
                    content: '[';
                    margin-right: 5px;
                    transform: translateX(20px);                    
                }

                &:after {
                    content: ']';
                    margin-left: 5px;
                    transform: translateX(-20px);
                }

                &:hover:before, &:hover:after {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }

        }
    }
}